* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: bold;
}

.container {
  height: 100vh;
  width: 100vw;
  font-size: 40px;
  display: grid;
}

.item {
  text-transform: uppercase;
  text-align: center;
}

.header {
  grid-area: header;
  background-color: #0f1629;
  color: white;
}

.hero {
  grid-area: hero;
  background-color: #4c86c6;
  color: white;
}
.menu {
  grid-area: menu;
  background-color: #ef3c4f;
  color: white;
}
.main {
  grid-area: main;
  background-color: #24344b;
  color: white;
}
.extra {
  grid-area: extra;
  background-color: #4dbd97;
}
.footer {
  grid-area: footer;
  background-color: #fed269;
}
.image {
  grid-area: image;
  background-color: #c2e4e6;
}

/* write your styles here 
  1. up to 500px → 7 rows, 1 column
    1. rows are either 60px or 1fr 
  2. up to 700px → 5 rows, 4 columns
    1. rows are either 60px, 100px, or 1fr 
    2. columns are 1fr 
  3. greater than 700px → 4 rows, 4 columns
    1. rows are either 50px or 1fr 
    2. columns are all 1fr 
*/

@media screen and (min-width: 700px) {
  /* greater than 700px → 4 rows, 4 columns */
  .container {
    grid-template-areas:
      "header menu menu menu"
      "hero hero hero hero"
      "main main image extra"
      "footer footer footer footer";

    grid-template-rows: 50px 1fr 1fr 50px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

@media screen and (max-width: 700px) {
  /* up to 700px → 5 rows, 4 columns */
  .container {
    grid-template-areas:
      "header header header header"
      "hero hero hero hero"
      "menu main main main"
      "menu footer footer footer"
      "menu extra extra image";

    grid-template-rows: 60px 1fr 1fr 60px 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

@media screen and (max-width: 500px) {
  /* up to 500px → 7 rows, 1 column */
  .container {
    grid-template-areas:
      "header header header header"
      "menu menu menu menu"
      "hero hero hero hero"
      "main main main main"
      "footer footer footer footer"
      "extra extra extra extra"
      "image image image image";

    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr;
  }
}
